h1 {
   text-align: center;
   font-family: courier;
   font-size: 50px;
   margin: 0;
   padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: slateblue;
  height: 100%;
  position: fixed;
}

nav li a {
   display: block;
   color: white;
   font-size: 30px;
   font-family: courier;
   padding: 8px 16px;
   text-decoration: none;
}

nav li a:hover {
  background-color: black;
}

section {
   float: left;
   width: 700px;
   padding-left: 300px;
   text-align: left;
   font-size: 30px;
   font-family: arial;  
   word-spacing: normal;
}

#puppy {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#whyuseus {
   float: right;
   width: 250px;
   text-align: left;
   font-size: 20px;
   font-family: arial;
   border-style: solid;
   border-width: 5px;
   padding: 65px 10px 65px 10px;
   word-spacing: normal;
   background-color: lavender;
   line-height: 1.4;
}

aside {
   float: right;
   width: 250px;
   text-align: left
   margin: 0;
   padding: 0;
}
table {
   border-collapse: collapse;
   font-family: arial;
   font-size: 20px;
}
table, tr, td {
   border: 2px solid black;
}
th, td {
   padding: 20px;
   text-align: center;
}

#team {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
  
#pups {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

   